
<!-- NAVBAR
================================================== -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">ECTD</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>	
	<div class="collapse navbar-collapse" id="navbarNav">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="index.html">Home</a>
			<a class="nav-item nav-link" href="gyogyszer.html">Gyógyszer</a>
			<a class="nav-item nav-link" href="allatgy.html">Állatgyógyászat</a>
			<div class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kozmetikumok</a>
				<div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
				   <a class="nav-item nav-link" href="cosmetic.html">Termékregisztráció</a>
				   <a class="nav-item nav-link" href="cosmetic-pif.html">Termékinformációs dokumentiáció</a>
				   <a class="nav-item nav-link" href="cosmetic-gmp.html">Helyes gyártási gyakorlat</a>
				   <a class="nav-item nav-link" href="cosmetic-serv.html">Kozmetikai szolgáltatás</a>
				   <a class="nav-item nav-link" href="cosmetic-soaphobby.html">Szappankészítés</a>
				</div>
			</div>
			<a class="nav-item nav-link"  href="elelmiszer.html">Élelmiszer</a>
			<a class="nav-item nav-link"  href="etrendkieg.html">Étrendkiegészítő</a>
			<a class="nav-item nav-link"  href="about.html">Kapcsolat</a>
			<a class="nav-item nav-link"  href="/index.html"><img src="/images/hu.jpg" width="40px"></a>
			<a class="nav-item nav-link"  href="/en/index.html"><img src="/images/en.jpg" width="40px"></a>
		</div>
	</div>
</nav>
<!--#include virtual="carousel.html" -->
